@font-face {
    font-family: 'Troika';
    src: local('Troika'), url('troika.woff2') format('woff2'), url('troika.woff') format('woff'), url('troika.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
